.plusButton {
   /* Config start */
   --plus_sideLength: 2rem;
   --plus_topRightTriangleSideLength: 0rem;
   /* Config end */
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: var(--plus_sideLength);
   height: var(--plus_sideLength);
   border: 1px solid white;
   border-radius: 50%; /* Make the button circular */
   background-color: #000000;
   overflow: hidden; /* Ensure no visual artifacts */
   box-shadow: inset 0 0 0 1px #000; /* Prevents rendering artifacts */
}

.plusButton::before {
   position: absolute;
   content: '';
   top: 0;
   right: 0;
   width: 0;
   height: 0;
   border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
   border-color: transparent white transparent transparent;
   transition: border-width 0.2s ease-in-out;
}

.plusButton:hover {
   cursor: pointer;
}

.plusButton:hover::before,
.plusButton:focus-visible::before {
   --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton > .plusIcon {
   fill: white;
   width: calc(var(--plus_sideLength) * 0.6);
   height: calc(var(--plus_sideLength) * 0.6);
   z-index: 1;
   transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.plusButton:hover > .plusIcon,
.plusButton:focus-visible > .plusIcon {
   fill: black;
   transform: rotate(180deg);
}
